{{ define "main" }}
{{partial "prev_next.html" .}}
<article lang="en">
  <h1>{{.Title}}</h1>
  {{if in .Params.categories "fixed"}}
  {{else}}
  <div class="author">By <a href="{{$.Site.Params.twitterURL}}"><strong>{{ .Site.Params.author}}</strong>
      <span id="twitter"><i class="fab fa-twitter"></i></span></a> on <date>
      {{.Date.Format .Site.Params.dateFormat }}
    </date><br>{{ partial "addthis.html"}}
  </div>
  {{ end }}
  {{ .Content }}
  {{ partial "tags.html" .}}
</article>
{{if in .Params.categories "fixed"}}
{{else}}
{{ partial "commento.html"}}
{{ end }}
{{partial "prev_next.html" .}}
{{ end }}