<div id="addthis">
  <a class="addthis_button_reddit">
    <i class="fab fa-reddit"></i>
  </a>
  <a class="addthis_button_twitter">
    <i class="fab fa-twitter"></i>
  </a>
  <a class="addthis_button_facebook">
    <i class="fab fa-facebook"></i>
  </a>
  <a class="addthis_button_messenger">
    <i class="fab fa-facebook-messenger"></i>
  </a>
  <a class="addthis_button_whatsapp">
    <i class="fab fa-whatsapp"></i>
  </a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>